# This is part 1 out of 3 notebooks I have made for this Flower Classification task, where this notebook focusses on making a csv file for the train and test txt files

In [1]:
train_file = 'D:/DATA_SCIENCE/tmlc challenge/oxford-102-flowers/train.txt'
valid_file = 'D:/DATA_SCIENCE/tmlc challenge/oxford-102-flowers/valid.txt'
test_file = 'D:/DATA_SCIENCE/tmlc challenge/oxford-102-flowers/test.txt'

In [2]:
def store_content(path):
    """ reading the txt content and storing in a list"""
    content = []
    with open(path, 'r') as f:
        content.append(f.read().splitlines())
    return content

In [3]:
train_content = store_content(train_file)
valid_content = store_content(valid_file)
test_content = store_content(test_file)

In [4]:
len(train_content[0]), len(valid_content[0]), len(test_content[0])

(1020, 1020, 6149)

In [5]:
def to_dictionary(listtt):
    """ converting the list into a dict"""
    custom_dict = {}
    for line in listtt[0]:
        key, value = str(line).split(' ')
        custom_dict[key] = value
    return custom_dict

In [6]:
train_dict = to_dictionary(train_content)
valid_dict = to_dictionary(valid_content)
test_dict = to_dictionary(test_content)

In [7]:
import pandas as pd
import numpy as np

In [8]:
# converting the dictionary into a dataframe
train_df = pd.DataFrame.from_dict(train_dict, orient = 'index')
train_df['image_ids'] = train_df.index
train_df.reset_index(drop = True, inplace = True)
train_df.rename(columns = {0 : 'target'}, inplace = True)

In [9]:
display(train_df.head(5))

  target            image_ids
0     16  jpg/image_03860.jpg
1     13  jpg/image_06092.jpg
2     42  jpg/image_02400.jpg
3     55  jpg/image_02852.jpg
4     96  jpg/image_07710.jpg

In [10]:
assert len(train_dict) == train_df.shape[0], 'bruh you made a mistake'

In [11]:
valid_df = pd.DataFrame.from_dict(valid_dict, orient = 'index')
valid_df['image_ids'] = valid_df.index
valid_df.reset_index(drop = True, inplace = True)
valid_df.rename(columns = {0 : 'target'}, inplace = True)

In [12]:
display(valid_df.head(5))

  target            image_ids
0     89  jpg/image_04467.jpg
1     44  jpg/image_07129.jpg
2      4  jpg/image_05166.jpg
3     34  jpg/image_07002.jpg
4     79  jpg/image_02007.jpg

In [13]:
assert len(valid_dict) == valid_df.shape[0], 'bruh you made a mistake'

In [14]:
# concatenating the train and validation sets since i will be creating 5 folds while training
train_metadata = pd.concat([train_df, valid_df], axis = 0)

In [15]:
train_metadata

     target            image_ids
0        16  jpg/image_03860.jpg
1        13  jpg/image_06092.jpg
2        42  jpg/image_02400.jpg
3        55  jpg/image_02852.jpg
4        96  jpg/image_07710.jpg
...     ...                  ...
1015     61  jpg/image_08182.jpg
1016     38  jpg/image_07029.jpg
1017     67  jpg/image_05956.jpg
1018     13  jpg/image_06051.jpg
1019     96  jpg/image_07724.jpg

[2040 rows x 2 columns]

In [16]:
test_metadata = pd.DataFrame.from_dict(test_dict, orient = 'index')
test_metadata['image_ids'] = test_metadata.index
test_metadata.reset_index(drop = True, inplace = True)
test_metadata.rename(columns = {0 : 'target'}, inplace = True)

In [17]:
assert len(test_dict) == test_metadata.shape[0], 'bruh you made a mistake'

In [18]:
train_metadata.to_csv('train.csv', index = None)
test_metadata.to_csv('test.csv', index = None)

In [83]:
train_metadata.to_pickle('train.pkl')
test_metadata.to_pickle('test.pkl')